{% load static %}
{#{% load template_filter %}#}

<div class=" panel-warning">


    <div class=" panel panel-heading">
        <h3>

            <a href="/item-{{ data.id }}">{{ data.name }}</a>
            <small>
               {% for i in data.genre.all %}

               {{ i }}

            {% endfor %}</small>
        </h3>
        <div class="right">
            <button class="btn btn-default" type="button"><span class='glyphicon glyphicon-thumbs-up'></span></button>
            <span class="panel panel-default">
               {{  data.rating }}
            </span>

            <button class="btn btn-default" type="button"><span class='glyphicon glyphicon-thumbs-down'></span></button>
        </div>
    </div>


    <div class="panel-body ">
        <div class="row">


            <div class="col-lg-4 ">

                <img src="{% static "" %}{{ data.pic }}" width="50%"/>
            </div>
            <div class="col-lg-4">
                <h4>{{ data.description }}</h4>

                {#                                    {% for key, value in persons_list.items %}#}
                {#                                        {% if key == group.name %}#}
                {#                                            {% for v in value %}#}
                {#                                                <h5>{{ v }}</h5>#}
                {#                                            {% endfor %}#}
                {#                                        {% endif %}#}
                {#                                    {% endfor %}#}

{#<a href="/">answer ({{ group_list|get_item:data.id}},{{ data }})</a>#}
            </div>

        </div>
    </div>
</div>
<script>
    function myFunction(x) {
        x.classList.toggle("fa-thumbs-down");
    }
</script>





