.buttonadd {
    background-color: orange;

    color: black;
border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.buttonadd:hover {
    background-color: navajowhite; /* Green */
    color: black;
}

.buttonlist {
-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    height: 50px;
    width: 50px;
    border: none;
    background-color: gr;
}
.buttonlist:hover {
    background-color: orange; /* Green */
    color: black;
}

.footer-bg {
 background: lightgoldenrodyellow; /* Цвет фона */
      margin-top: -77px; /* Поднимаем вверх */
  overflow: auto; /* Отменяем схлопывающиеся отступы */
  position: relative; /* Относительное позиционирование */
}